html {
  font-size: 16PX;
  //height: 100%;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, figure {
  margin: 0;
  padding: 0;
}

body, input, textarea, select, button, table {
  font-size: 12px;
  line-height: 15px;
}

img {
  vertical-align: top;
  border:0;
}

body {
  margin: 0;
  padding: 0;
  color:#111;
 // color: #ff0000;
}

img, fieldset, textarea {
  border: 0;
}

legend {
  display: none;
}

ul, ol {
  list-style: none;
}

em, address {
  font-style: normal;
}

a {
  color: #ff0000;
  text-decoration: none;
}

table {

}

hr {
  display: none;
}
