# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed



# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project




# Jetbrain
.idea
\ No newline at end of file
